@model IEnumerable<YP.Models.Role>
@{
    ViewData["Title"] = "Роли";
}

<partial name="_TabMenu" />

<div class="text-center">
    <h1 class="display-4">Роли</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr><th>ID</th><th>Название роли</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoleID</td>
                <td>@item.RoleName</td>
            </tr>
        }
    </tbody>
</table>