@model IEnumerable<YP.Models.Status>
@{
    ViewData["Title"] = "Статусы";
}

<partial name="_TabMenu" />

<div class="text-center">
    <h1 class="display-4">Статусы</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr><th>ID</th><th>Название статуса</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StatusID</td>
                <td>@item.StatusName</td>
            </tr>
        }
    </tbody>
</table>