@model IEnumerable<YP.Models.User>
@{
    ViewData["Title"] = "Пользователи";
}

<partial name="_TabMenu" />

<div class="text-center">
    <h1 class="display-4">Список пользователей</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserID</td>
                <td>@item.Fio</td>
                <td>@item.Phone</td>
                <td>
                    <span class="badge bg-secondary">@item.Role?.RoleName</span>
                </td>
            </tr>
        }
    </tbody>
</table>